{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
    <!-- Start services section -->
    <section id="services" class="home-style-2 ptb-120">
        <div class="container">

            <!-- Start section title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h2>our services</h2>
                        <p>We provide everything you need to get online with <strong>none</strong> of the hassle.
                            You can pick from all or some of the below services that suit your requirements, whether
                            you're a new or an existing company looking for that fresh start.</p>
                    </div>
                </div>
            </div>
            <!-- End section title -->

            <!-- Start section body -->
            <div class="row">

                <div class="col-sm-4">
                    <div class="service-item text-center">
                        <div class="icon service-icon">
                            <span class="fa fa-server fa-fw"></span>
                        </div>
                        <div class="service-details">
                            <h5 class="text-uppercase">Site Hosting</h5>
                            <p>We have our own dedicated CMDLB high speed servers, used for development and production
                                environments.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="service-item text-center">
                        <div class="icon service-icon">
                            <span class="fa fa-code fa-fw"></span>
                        </div>
                        <div class="service-details">
                            <h5 class="text-uppercase">web development</h5>
                            <p>We develop sites either using <a href="https://wordpress.com/">Wordpress</a>, or for more
                                bespoke needs using the <a href="https://www.djangoproject.com/">Django web framwork</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service-item text-center">
                        <div class="icon service-icon">
                            <span class="fa fa-mobile fa-fw"></span>
                        </div>
                        <div class="service-details">
                            <h5 class="text-uppercase">mobile enabled</h5>
                            <p>As 60% of all web traffic is from mobile devices, we ensure all our sites are mobile
                                friendly.</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row second-services-row mt-30">

                <div class="col-sm-12">
                    <div class="service-item text-center">
                        <div class="icon service-icon">
                            <span class="fa fa-cogs fa-fw"></span>
                        </div>
                        <div class="service-details">
                            <h5 class="text-uppercase">Support & Maintenance</h5>
                            <p>We provide on going support to ensure all featues of the site continue to run smoothly
                                and maintenance so you can add features and always stay ahead of the curve.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End section body -->

        </div>
    </section>
    <!-- End services section -->

    <!-- Start portfolio section -->
    <section id="portfolio" class="home-style-2">
        <div class="container">

            <!-- Start section title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h2>Our Portfolio</h2>
                        <p>See below our portfolio of sites categorised by type.</p>
                    </div>
                </div>
                {% for site in sites.all %}
                    <a href="{{ site.url }}" target="_blank"><img class="img-fluid img-thumbnail"
                                                                  src="{{ site.image.url }}"
                                                                  alt="{{ site.title }}" style="max-width: 400px"></a>

                {% endfor %}
            </div>

        </div>
    </section>

    <!-- Start fun facts section -->
    <section id="fun-facts" class="home-style-2 parallax-bg parallax-bg-overlay ptb-80">
        <div class="container">

            <!-- Start section body -->
            <div class="row">

                <!-- Start fun fact -->
                <div class="fun-fact">

                    <!-- Start fun fact singel item -->
                    <div class="col-xs-6 col-md-3 fact-single-item">
                        <div class="fact-item text-center mt-30">
                            <i class="fas fa-clock"></i>
                            <h2 class="counter">71582</h2>
                            <h5>Hours Worked</h5>
                        </div>
                    </div>
                    <!-- End fun fact singel item -->
                    <!-- Start fun fact singel item -->
                    <div class="col-xs-6 col-md-3 fact-single-item">
                        <div class="fact-item text-center mt-30">
                            <i class="fa fa-trophy fa-fw"></i>
                            <h2 class="counter">927</h2>
                            <h5>Project Completed</h5>
                        </div>
                    </div>
                    <!-- End fun fact singel item -->
                    <!-- Start fun fact singel item -->
                    <div class="col-xs-6 col-md-3 fact-single-item">
                        <div class="fact-item text-center mt-30">
                            <i class="fa fa-code fa-fw"></i>
                            <h2 class="counter">103852</h2>
                            <h5>Line of Codes</h5>
                        </div>
                    </div>
                    <!-- End fun fact singel item -->
                    <!-- Start fun fact singel item -->
                    <div class="col-xs-6 col-md-3 fact-single-item">
                        <div class="fact-item text-center mt-30">
                            <i class="fa fa-coffee fa-fw"></i>
                            <h2 class="counter">613</h2>
                            <h5>Cups of Coffee</h5>
                        </div>
                    </div>
                    <!-- End fun fact singel item -->
                </div>
                <!-- End fun fact -->

            </div>
            <!-- End section body -->

        </div>
    </section>
    <!-- End fun facts section -->

    {#    <!-- Start testimonials section -->#}
    {#    <section id="testimonials" class="home-style-2 dark-bg ptb-120">#}
    {#        <div class="container">#}
    {##}
    {#            <!-- Start section title -->#}
    {#            <div class="row">#}
    {#                <div class="col-sm-12">#}
    {#                    <div class="section-title text-center">#}
    {#                        <h2>our happy clients</h2>#}
    {#                        <p>See what our clients have to say about us.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <!-- End section title -->#}
    {##}
    {#            <!-- Start section body -->#}
    {#            <div class="row">#}
    {##}
    {#                <div class="col-sm-12">#}
    {##}
    {#                    <!-- Start swiper testimonials container -->#}
    {#                    <div class="swiper-container testimonials-swiper">#}
    {#                        <!-- Start swiper testimonials wrapper -->#}
    {#                        <div class="swiper-wrapper mb-30">#}
    {##}
    {#                            <!-- Start swiper testimonials items -->#}
    {#                            <div class="swiper-slide">#}
    {#                                <div class="testimonials-swiper-inner">#}
    {#                                    <div class="client-image">#}
    {#                                        <img src="{% static 'img/clients/client-image-1.jpg' %}" alt=""#}
    {#                                             class="img-responsive center-block">#}
    {#                                    </div>#}
    {#                                    <div class="client-testimonial text-center">#}
    {#                                        <h3>John Smith</h3>#}
    {#                                        <p class="client-position">Art Dirrector</p>#}
    {#                                        <p class="client-review">“Aliquam ut sollicitudin velit. Proin neque ligula,#}
    {#                                            commodo#}
    {#                                            vel lobortis vel, vitae spequamv. Praesent pharetra, nisi vitae blandit#}
    {#                                            laoreet,#}
    {#                                            diam augue convallis sem, ut ultrices libero nunc in dui.”</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <!-- End swiper testimonials items -->#}
    {##}
    {#                        </div>#}
    {#                        <!-- End swiper testimonials wrapper -->#}
    {##}
    {#                        <!-- Start pagination -->#}
    {#                        <div class="swiper-pagination"></div>#}
    {#                        <!-- End pagination -->#}
    {##}
    {#                    </div>#}
    {#                    <!-- End swiper testimonials container -->#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#            <!-- End section body -->#}
    {##}
    {#        </div>#}
    {#    </section>#}
    {#    <!-- End testimonials section -->#}

    <!-- Start Clients section -->
    <div id="clients" class="dark-blue-bg ptb-80">
        <div class="container">

            <!-- Start section body -->
            <div class="row">

                <!-- Start swiper brands container -->
                <div class="swiper-container brands-swiper">
                    <!-- Start swiper brands wrapper -->
                    <div class="swiper-wrapper">

                        <!-- Start swiper brands items -->
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-html5 fa-7x"></i>
                                <p>HTML5</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-css3 fa-7x"></i>
                                <p>CSS3</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-github fa-7x"></i>
                                <p>GitHub</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-python fa-7x"></i>
                                <p>Python</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-js fa-7x"></i>
                                <p>JavaScript</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-font-awesome-flag fa-7x"></i>
                                <p>Font Awesome</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-aws fa-7x"></i>
                                <p>AWS</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-docker fa-7x"></i>
                                <p>Docker</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fact-item text-center mt-30">
                                <i class="fab fa-linux fa-7x"></i>
                                <p>Linux</p>
                            </div>
                        </div>

                        <!-- End swiper brands items -->

                    </div>
                    <!-- End swiper brands wrapper -->
                </div>
                <!-- End swiper brands container -->

            </div>
            <!-- End section body -->

        </div>
    </div>
    <!-- End Clients section -->

    <!-- Start contact us section -->
    <section id="contact-us" class="home-style-2 ptb-120">
        <div class="container">

            <!-- Start section title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h2>contact us</h2>
                    </div>
                </div>
            </div>
            <!-- End section title -->

            <!-- Start section body -->
            <div class="row">

                <!-- Start contact info -->
                <div class="col-md-6">
                    <div class="contact-info wow fadeInLeft" data-wow-duration="1s">
                        <h4>Get in touch</h4>
                        <p>Please feel free to message us if you wish to start discussoins on how CMDLB can take your
                            web presence to the next level or if you simply wish to know more.</p>
                        <p>We look forward to hearing from you!</p>
                        <!-- Start contact info details -->
                        <ul class="contact-info-details mt-30">
                            <li>
                                <div class="contact-info-item info-phone">
                                    <p><i class="fa fa-phone fa-fw"></i>+44 7500776311</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info-item info-mail">
                                    <p><i class="fa fa-envelope fa-fw"></i><span>marco.baldanza@cmdlb.com</span></p>
                                </div>
                            </li>
                        </ul>
                        <!-- End contact info details -->
                        {#                        <!-- Start follow us -->#}
                        {#                        <div class="follow-us mt-30">#}
                        {#                            <h5>Follow us</h5>#}
                        {#                            <ul class="list-inline mt-20">#}
                        {#                                <li><a href="#"><i class="fab fa-github fa-fw"></i></a></li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                        {#                        <!-- Start follow us -->#}
                    </div>
                </div>
                <!-- End contact form -->

                <!-- Start contact form -->
                <div class="col-md-6">
                    <div class="contact-form wow fadeInRight" id="contactForm" data-wow-duration="1s">
                        <h4>Leave message</h4>
                        <p>Complete the form below to send us a message.</p>

                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="your name*"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="email address*"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject"
                                   placeholder="your subject">
                        </div>
                        <div class="form-group">
                                <textarea class="form-control" rows="4" name="message" id="message"
                                          placeholder="write message*"
                                          required></textarea>
                        </div>
                        <button id="contactMessage" type="submit" class="btn btn-block btn-light-boxed-1"><i
                                class="fa fa-send fa-fw mr-5"></i>Send Message
                        </button>

                    </div>
                </div>
                <!-- End contact form -->


            </div>
            <!-- End section body -->

        </div>
    </section>
    <!-- End contact us section -->

{% endblock %}