<!doctype html>
<html class="no-js" lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CMDLB Web Development</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <!-- All additional css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.circliful.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Change theme colors -->
    <link rel="stylesheet" href="{% static 'css/theme-color-default.css' %}">
    <!-- Responsive style -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Start prelaoder -->
<div id="preloader-container" class="home-style-2">
    <div class="preloader">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
<!-- End prelaoder -->

{% if user.is_superuser %}
<!-- Start option box -->
<div class="option-box">

    <!-- Start box header -->
    <div class="option-box-header">
        <h4>Color selector</h4>
    </div>
    <!-- End box header -->
    <!-- Start switcher button -->
    <div class="switcher-btn-area">
        <button class="switcher-btn">
            <i class="fa fa-cog fa-spin">
            </i>
        </button>
    </div>
    <!-- End switcher button -->
    <!-- Start option box inner -->
    <div class="option-box-inner">
        <!-- Start color option -->
        <div class="color-option">
            <p>Color Option</p>
            <ul>
                <li class="change-color" data-value="{% static '/css/theme-color-default.css' %}"
                    style="background-color: #00a8e8"></li>
                <li class="change-color" data-value="{% static '/css/theme-color-green.css' %}"
                    style="background-color: #16a085"></li>
                <li class="change-color" data-value="{% static '/css/theme-color-red.css' %}"
                    style="background-color: #e74c3c"></li>
                <li class="change-color" data-value="{% static '/css/theme-color-yellow.css' %}"
                    style="background-color: #f0ad4e"></li>
            </ul>
        </div>
        <!-- End color option -->
    </div>
    <!-- End option box inner -->

</div>
<!-- End option box -->
{% endif %}

<!-- Start page wrapper -->
<div id="page-top" class="wrapper">

    <!-- Start header -->
    <header>
        <nav class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="1">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navigation" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'img/cmdlb-logo.png' %}" alt="CMDLB logo"
                                                          class="img-responsive" style="max-width: 300px"></a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#page-top">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact-us">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start hero section -->
    <section id="hero" class="home-style-2 overlay-dark particle-bg">
        <div id="particles-js"></div>
        <div class="container">
            <div class="header-text text-center">
                <p class="mb-0 wow fadeInDown" data-wow-duration="1s">Freelance Web Development</p>
                <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">Hosting
                    <span>Site Development</span> Support</h1>
                <p class="mb-30 wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s">Creating a bespoke
                    platform to support your online presence. We will support you from start to finish, providing
                    everything you need to wow your clients.</p>
                <a href="#contact-us" class="btn btn-boxed btn-light-boxed-2 wow fadeInDown" data-wow-duration="1.5s"
                   data-wow-delay="1.5s">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                    </svg>
                    Contact us
                </a>
            </div>
            <!-- Start scroll down button -->
            <div id="scroll-down-btn">
                <a href="#services"><span></span></a>
            </div>
            <!-- End scroll down button -->
        </div>
    </section>
    <!-- End hero section -->

    {% block content %}

    {% endblock %}


    <!-- Start footer -->
    <footer id="footer" class="home-style-2">
        <div class="container-fluid">

            <div class="row">

                <!-- Start copyright content -->
                <div class="copyright-content">
                    <div class="row">

                        <!-- Start copyright -->
                        <div class="col-md-12 text-center">
                            <p>Copyright © 2018 CMDLB Websites all rights
                                reserved.</p>
                        </div>
                        <!-- End copyright -->

                    </div>
                </div>
                <!-- End copyright content -->

            </div>

            <!-- Start go to top button -->
            <div class="go-to-top">
                <a href="#page-top"><i class="fa fa-caret-up fa-fw"></i></a>
            </div>
            <!-- End go to top buttont -->

        </div>
    </footer>
    <!-- End footer -->

</div>
<!-- End page wrapper -->

<!-- Js files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- particles.js -->
<script src="{% static 'js/particles.min.js' %}"></script>
<!-- Skills bar -->
<script src="{% static 'js/skill.bars.jquery.js' %}"></script>
<!-- Counter-up -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Filterizr -->
<script src="{% static 'js/jquery.filterizr.min.js' %}"></script>
<script src="{% static 'js/controls.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Skills circle -->
<script src="{% static 'js/jquery.circliful.js' %}"></script>
<!-- Swiper -->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!-- Map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ4oOj3aKjEkwMkqu-xUGzKSXUKYYfzj4&callback=initMap" async
        defer></script>
<script src="{% static 'js/m-map.js' %}"></script>
<!-- Main js file -->
<script src="{% static 'js/main.js' %}"></script>

<script>

    // Start particles JS
    particlesJS('particles-js',

        {
            "particles": {
                "number": {
                    "value": 100,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.1,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.1,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 100,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        }
    );

    $('#contactMessage').click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'contact' %}",
            dataType: "json",
            data: {
                "name": $('#name').val(),
                "email": $('#email').val(),
                "subject": $('#subject').val(),
                "message": $('#message').val(),
            },
            success: function (data) {
                $('#contactForm').html('<h5 class="text-center">' + data.message + '</h5>').fadeIn(3000);
            }
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

</script>

</body>

</html>

